@model MusicIdentificationSystem.AdminLTE.Models.Account.AccountListModel

@using GridMvc.Html

@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

    ViewBag.Title = Resources.Resources.Account_Title_AccountList;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">

        <div class="col-xs-2">
            <button type="button" class="btn btn-block btn-primary" onclick="location.href='@Url.Action("Create", "Account")'">@Resources.Resources.Global_Button_Create</button>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="force-scrollbar">
                @Html.Grid(Model.AccountModelsList).Named("AccountGrid").Columns(columns =>
         {
             columns.Add()
                 .Encoded(false)
                 .Sanitized(false)
                 .SetWidth(80)
                 .RenderValueAs(c => Html.ActionLink(@Resources.Resources.Global_Button_Edit, "Edit", new { id = c.Id }, new { @class = "btn btn-block btn-primary" }).ToHtmlString());

             columns.Add(c => c.AccountName).Titled(Resources.Resources.Account_AccountName).Filterable(true);
             columns.Add(c => c.FullName).Titled(Resources.Resources.Account_FullName).Filterable(true);
             columns.Add(c => c.Email).Titled(Resources.Resources.Account_Email).Filterable(true);
             columns.Add(c => c.Address).Titled(Resources.Resources.Account_Address).Filterable(true);
             columns.Add(c => c.Phone).Titled(Resources.Resources.Account_Phone).Filterable(true);
             columns.Add()
                 .Encoded(false)
                 .Sanitized(false)
                 .RenderValueAs(c => Html.CheckBox("checked", c.IsActive))
                 .Titled(Resources.Resources.Account_IsActive)
                 .Filterable(true);
         }).WithPaging(10).Sortable(true).WithMultipleFilters()
            </div>
        </div>

    </div>
</section>
